.profile__info {
    margin: 0 auto 0 30px;
    padding: 0;
    display: grid;
    max-width: 336px;
    max-height: 73px;
    gap: 5px 10px;
    position: relative;
    grid-template-areas:
        "profile__name profile__edit-button"
        "profile__description .";
}

@media screen and (max-width: 720px) {
    .profile__info {
        margin: 26px auto 36px;
        row-gap: 10px;
        max-height: 54px;
        max-width: 282px;
    }
}